body{
  background-color: #e2f0ff;
  padding-left: 10;
}

h1{
  margin-left: 5;
}
.axis {
  stroke: #333333;
  stroke-width: 2;
}
.once {
  font-size: 14px;
}
.line {
  stroke: #222222;
  stroke-width: 3;
  opacity: .9;
}
.label {
  cursor: default;
  text-anchor: middle;
  font-size: 11px;
  fill: #444444
}
.bar {
  fill: #003278;
  opacity: 0.6;
}
.bar:hover {
    fill: #020c27;
    opacity: 1;
}

.lineGraph:hover * {
  stroke: rgb(255, 242, 0);
  stroke-width: 3px;
}

.graphTitle {
  font-size: 18px;
}

.legend {
  font-size: 45px;
}

