
<html lang="en" data-bs-theme="dark">
<head>
  <title>Hate Crimes Macro</title>
  <!-- <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/macro">Macro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              By borough
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for year in years %}
                <li><a class="dropdown-item" href="/micro?year={{year}}">{{ year }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              By category
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for year in years %}
                <li><a class="dropdown-item" href="/category?year={{year}}">{{ year }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1>Macro</h1>


  {% include 'macro.svg' %}

    <div>
      Across all four years and three months, a total of {{avg*4}} hate crimes were reported across all five boroughs. <br>
      The average number of hate crimes reported each year from 2019-2023 is {{avg}}. The year with the most total hate crimes was 2022.
    </div>
    <br>

    <div>
      <h3>
        Key Takeaways: 
      </h3>
      <li>
        1. The number of hate crimes that occured in NYC had a slight upwards trend over time.
      </li>
      <li>
        2.  There was a significant increase in numbers in 2021 and 2022. This could have reflected the rise in anti-Asian hate crimes that came with the COVID-19 pandemic. 
      </li>
      <li>
        3. The most common category across all years in the dataset was religion.
      </li>
      <li>
        4. Despite the large amounts of hate crimes throughout 2020-2022, the numbers began to decrease in the later half of 2022 and the beginning of 2023.
        This could have reflected increased awareness around hate crimes, or other factors that led to a decrease.
      </li>
    </div>
<br>
  <footer>
    {% include 'footer.html' %}
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>

